/* Définition des polices personnalisées */

@font-face
{
    font-family: 'Dayrom';
    src: url('fonts/dayrom.eot');
    src: url('fonts/dayrom.eot?#iefix') format('embedded-opentype'),
         url('fonts/dayrom.woff') format('woff'),
         url('fonts/dayrom.ttf') format('truetype'),
         url('fonts/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Eléments principaux de la page */

body
{
    background: url('../images/fond_blanc.png');
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
}

#bloc_page
{
    width: 900px;
    margin: auto;
}

section h1, footer h1, nav a
{
    font-family: Dayrom, serif;
    font-weight: normal;
    text-transform: uppercase;
}

/* Header */

header
{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

#titre_principal
{
    display: flex;
    flex-direction: column;
}

#logo
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo img
{
    width: 59px;
    height: 60px;
}

/* Navigation */

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 80px;
}

nav a, #authentification a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}

/*authentification*/

#authentification
{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    /*margin-bottom: 20px;*/
}

#authentification a:hover
{
   color: #760001; 
}


/* Bannière */

#banniere_image
{
    margin-top: 15px;
    height: 200px;
    border-radius: 5px;
    background: url('../images/banniere.png') no-repeat;
    position: relative;
    box-shadow: 0px 4px 4px #1c1a19;
    margin-bottom: 25px;
}

#banniere_description
{
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 5px 5px;
    width: 99.5%;
    height: 33px;
    padding-top: 15px;
    padding-left: 4px;
    background-color: rgba(24,24,24,0.6);
    color: white;
    font-size: 0.8em;
    
}

/*affichage photo*/

#Display
{
    display: flex;
    justify-content: space-around;
    margin-right: 50px;
}

#Display img
{
    border: 1px solid black ;
}

#Image
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Footer */

footer
{
    display: flex;
    padding-top: 25px;
    margin-top: 25px;
    background-color: #969696;
    /*color: white;*/
}

footer a
{
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

footer a:hover
{
    color: #e3e3e3;
}

footer ul
{
    font-size: 0.8em;
    list-style-type: none;

}

footer h1
{
    font-size: 1.1em;
}

#logo
{
    margin-left: 20px;
}
#contact
{
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-left: 530px;
}
